body {
  color: #172b4d;
}

.sidenav {
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  z-index: 2;
}

/* .sidenav:hover .label {
  display: inline-block;
  transition: display 0.3s ease;
} */

.sidenav a {
  display: block;
  padding: 7px;
  margin: 2px 4px;
  border-radius: 5px;
}

.sidenav ul {
  flex: 1;
}

.sidenav a:hover {
  background-color: #d4d9df;
  transition: background-color 0.3s ease;
}

.main {
  padding: 10px;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
}

/* .page-header { */
/* border-bottom: 1px solid #c6cbd0; */
/* color: #1f1e27; */
/* } */

.active-scale:active {
  transform: scale(0.9);
}

@media screen and (max-width: 640px) {
  .xs\:hidden {
    display: none;
  }
  .xs\:flex {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    margin-top: 45px;
  }
  .sidenav.active {
    display: flex;
    position: absolute;
    top: 45px;
    width: 100%;
    -webkit-animation: slide-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100vh);
    transform: translateX(-100vh);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
