@import "animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #172b4d;
}

table {
  border-right: 1px solid #edf2f7;
  border-left: 1px solid #edf2f7;
}

.sidenav {
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
}

.sidenav:hover .label {
  display: inline-block;
}

.sidenav.expand .label {
  display: initial;
}

.sidenav a {
  display: block;
  padding: 7px;
  margin: 2px 4px;
  border-radius: 5px;
}

.sidenav ul {
  flex: 1;
}

.sidenav a:hover {
  background-color: #d4d9df;
  transition: background-color 0.3s ease;
}

.main {
  padding: 10px;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
}

.pagination a.active {
  color: #fff;
  background-color: #2a4365;
  font-weight: bold;
}

/* .page-header { */
/* border-bottom: 1px solid #c6cbd0; */
/* color: #1f1e27; */
/* } */

.active-scale:active {
  transform: scale(0.9);
}

.mdi-big::before {
  font-size: 30px;
}


@media screen and (max-width: 1200px) {
  body {
    flex-direction: column;
  }
  .header {
    box-shadow: #2b262694 0px 2px 2px 0px;
    z-index: 3;
  }
  .main {
    max-height: calc(100vh - 45px);
    min-height: calc(100vh - 45px);
  }
  .sidenav.active {
    display: flex;
    top: 45px;
    width: 100%;
    -webkit-animation: slide-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
