RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
IndexIgnore *.png *.zip *.jpg *.gif *.doc *.json
<FilesMatch "\.(lock|json|js)$">
  Order allow,deny
  Deny from all
</FilesMatch>

ErrorDocument 404 /asti/error_pages/404.php
